html {
	font-family: 'Quicksand', sans-serif;
	background-color: #EEE;
	color: #111;
}
body {
	margin: 0;
}

h1,h2,h3 {
	text-align: center;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1.2em;
}

a {
	color: #310EBF;
	text-decoration: none;
}
a:hover {
	color: #551A8B;
	text-decoration: underline;
}

.bubble-list {
	margin: 0 1em;
	padding: 0;
}
.bubble-list:after {
	content: '';
	display: block;
	clear: both;
}
.bubble-list li {
	list-style: none;
	float: left;
	margin: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	font-weight: bold;
	background-color: silver;
}
.bubble-list .confident {
	background-color: #A983CB;
}
.bubble-list .experience {
	background-color: #CCB0E5;
}
.bubble-list .new {
	background-color: #E9DAF6;
}

#title-background {
	float: left;
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 800px;
	z-index: -1;
}

#title {
	margin: 15% 10% 10% 10%;
	text-align: center;
	max-height: 900px;
}
#title h1 {
	margin-bottom: 0;
}
#title h2 {
	margin-top: 0;
	margin-bottom: 0;
	color: #551A8B;
}
#title h3 {
	margin-top: 0;
	color: #555;
}
#title #portrait {
	width: 12em;
	height: 12em;
	border-radius: 50%;
}

#content {
	padding: 0;
	background-color: #EEE;
}
#content div {
	padding: 1em;
}
#content div:nth-child(odd) {
	background-color: #DDD;
}
#content #about #blurb {
	font-style: italic;
	font-weight: bold;
}

#content #resume h3 {
	text-align: left;
	color: #551A8B;
	font-size: 1.4em;
	text-decoration: underline;
	margin-bottom: 0;
}
#content #resume p {
	margin: 0 1em;
}