html {
	font-family: 'Quicksand', sans-serif;
	background-color: #EEE;
	color: #111;
}
body {
	margin: 0;
}

h1,h2,h3 {
	text-align: center;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1.2em;
}

a {
	text-decoration: none;
}
a:hover {
	color: #458B00;
	text-decoration: underline;
}

#title-background {
	float: left;
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 800px;
	z-index: -1;
}

#title {
	margin: 15% 10% 10% 10%;
	text-align: center;
	max-height: 900px;
}
#title h1 {
	margin-bottom: 0;
}
#title h2 {
	margin-top: 0;
	margin-bottom: 0;
	color: #551A8B;
}
#title h3 {
	margin-top: 0;
	color: #555;
}
#title #portrait {
	width: 12em;
	height: 12em;
	border-radius: 50%;
}

#content {
	padding: 1em;
	background-color: #EEE;
}
#content #about #blurb {
	font-style: italic;
	font-weight: bold;
}